<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="container">
        <div class="text-center">
          <h5 class="text-dark mb-4">If you want to open an account with us, please click the Signup button</h5>
          <button (click)="goToSignup()" class="btn btn-primary btn-lg mr-2" style="margin: 20px;">Signup</button>
          <h5 class="text-dark mt-4 mb-2">If you already have an enquiry registered with us, please click the Login button</h5>
          <button (click)="goToLogin()" class="btn btn-primary btn-lg mr-2"style="margin: 20px;">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>