<div class="container" style="margin-top: 40px;">
    <!-- Header Section -->
    <div class="d-flex justify-content-center align-items-center mb-5">
        <div style="background-color: #fff; padding: 5px; border-radius: 5px; margin-right: 20px;">
            <img src="../../assets/Images/logo.png" alt="PCT Bank Logo" style="height: 80px;">
        </div>
        <h1 class="display-1 fw-bold">&nbsp; PCT Bank Online Service</h1>
    </div>
    <div class="mt-4 p-4" style="text-align: center; background-color:rgb(204, 231, 255); border-radius: 10px;">
        <h2 style="text-align: center;">Welcome to PCT Bank online services</h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Experience the convenience and security of managing your finances anytime, anywhere. Our online services provide you with real-time access to your accounts, allowing you to perform transactions and many more. Trust PCT Bank for all your banking needs, and enjoy a seamless digital banking experience.
        </p>
    </div>
    <br>
    <!-- Main Content Section -->
    <div class="row">
        <!-- Left Container -->
        <div class="col-md-6">
            <div class="bg-light p-3" style="border-radius: 10px; min-height: 300px;">
                <h2>Create a New Account <br><br> <bR></h2>
                <appenquiryhome></appenquiryhome>    
            </div>
        </div>

        <!-- Right Container -->
        <div class="col-md-6">
            <div class="bg-light p-3" style="border-radius: 10px; min-height: 300px;">
                <h2>User Login</h2>
                <p>Login to your existing user account to access online banking features.</p>
              
                <app-login ></app-login>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
